@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Budget Buddy was made for individual users to enter in their financial information and to save a percentage of their bills in order to see the progress.</p>
